fitapp/src/main/webapp/wsdl/ACT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://fitapp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://fitapp" xmlns:intf="http://fitapp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4.1-SNAPSHOT
Built on Nov 07, 2023 (07:57:58 UTC)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://fitapp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="ACTI">
    <complexType>
     <sequence>
      <element name="weight" type="xsd:double"/>
      <element name="activityLevel" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="ACTIResponse">
    <complexType>
     <sequence>
      <element name="ACTIReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="ACTIRequest">

      <wsdl:part element="impl:ACTI" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ACTIResponse">

      <wsdl:part element="impl:ACTIResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ACT">

      <wsdl:operation name="ACTI">

         <wsdl:input message="impl:ACTIRequest" name="ACTIRequest">

       </wsdl:input>

         <wsdl:output message="impl:ACTIResponse" name="ACTIResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ACTSoapBinding" type="impl:ACT">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ACTI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ACTIRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ACTIResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ACTService">

      <wsdl:port binding="impl:ACTSoapBinding" name="ACT">

         <wsdlsoap:address location="http://localhost:2525/fitapp/services/ACT"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
